.smile {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}

.smile:hover {
  opacity: 0.7;;
}

.icon {
  font-size: 40px;
  display: block;
}